template(name="payoffTables")
  h1 You are player Blue. This is round 1. The transfer rate is 1 to 0.5. This is a practice round.
  div.row
    div.col-md-6
      h2 Payoff table
      table.table.table-bordered
        thead
          tr
            td
            th Mango
            th Peach
            th Banana
            th Kiwi
        tbody
          tr
            th Blue
            td= blueMango
            td= bluePeach
            td= blueBanana
            td= blueKiwi
          tr
            th Purple
            td= purpleMango
            td= purplePeach
            td= purpleBanana
            td= purpleKiwi
          tr
            th Indigo
            td= indigoMango
            td= indigoPeach
            td= indigoBanana
            td= indigoKiwi
          tr
            th Teal
            td= tealMango
            td= tealPeach
            td= tealBanana
            td= tealKiwi

    div.col-md-6
      h2 Accepted offers
      table.table.table-bordered
        thead
          tr
            th
            th Mango
            th Peach
            th Banana
            th Kiwi
        tbody
          tr
            th Blue
            td
            td
            td
            td
          tr
            th Purple
            td
            td
            td
            td
          tr
            th Indigo
            td
            td
            td
            td
          tr
            th Teal
            td
            td
            td
            td

  each colorToFruitTransfers
    div.modal.fade(id = cssId)
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal")
              span(aria-hidden="true") x
            h4.modal-title Select an offer
          .modal-body
            table.table.table-bordered
              thead
                tr
                  th= youPayTo
                  th Your total payoff
                  th= theirPayoffTitle
                  th= theyPayToYouTitle
                  th
              tbody
                each data
                  tr
                    td= youPay
                    td= yourTotalPayoff
                    td= theirTotalPayoff
                    td= theyPay
                    td
