template(name="payoffTables")
  h1 You are player Blue. This is round 1. The transfer rate is 1 to 0.5. This is a practice round.
  div.row
    div.col-md-6
      h2 Payoff table
      table.table.table-bordered
        thead
          tr
            td
            th Mango
            th Peach
            th Banana
            th Kiwi
        tbody
          tr
            th Blue
            td= blueMango
            td= bluePeach
            td= blueBanana
            td= blueKiwi
          tr
            th Purple
            td= purpleMango
            td= purplePeach
            td= purpleBanana
            td= purpleKiwi
          tr
            th Indigo
            td= indigoMango
            td= indigoPeach
            td= indigoBanana
            td= indigoKiwi
          tr
            th Teal
            td= tealMango
            td= tealPeach
            td= tealBanana
            td= tealKiwi

    div.col-md-6
      h2 Accepted offers
      table.table.table-bordered
        thead
          tr
            th
            th Mango
            th Peach
            th Banana
            th Kiwi
        tbody
          tr
            th Blue
            td
            td
            td
            td
          tr
            th Purple
            td
            td
            td
            td
          tr
            th Indigo
            td
            td
            td
            td
          tr
            th Teal
            td
            td
            td
            td

  div.row
    h3 Blue to Mango
    table
      thead
        tr
          th You pay
          th Your total payoff
          th Mango's total payoff
          th Mango pays to you
          th
      tbody
        tr
          td
          td
          td
          td
          td
